.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.list {
  /* padding: 10px; */
  flex: 1;
}

.row {
  border-bottom: 1px solid #ebeced;
  text-align: left;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.image {
  margin-right: 10px;
}

.content {
  padding: 10px;
}
